<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73599976793-c15gts1vjee56iuvdh6m7sh77g9kj1i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73599976793-c15gts1vjee56iuvdh6m7sh77g9kj1i8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqD5d5BqjIkbjHNziT9E9wQMmmUz009nM</string>
	<key>GCM_SENDER_ID</key>
	<string>73599976793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webkulTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>webkultask</string>
	<key>STORAGE_BUCKET</key>
	<string>webkultask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73599976793:ios:af83db9c605d43236c7848</string>
</dict>
</plist>